<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="/images/scottandjaime.jpg" class="img-responsive center" alt="Scott & Jaime Frost">
            </div>
            <div class="panel-footer center">Scott & Jaime Frost</div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">About Me</h3>
            </div>
            <div class="panel-body">
                <p>My name is Scott Frost and I've been a software engineer since the late 90s. I've lived in the Cincinnati all my life and attended Northern Kentucky University where I received a Bachelor's Degree in Management Information Systems with minors in Computer Science & Business Administration. I've been working in Microsoft-track development since well before .NET, all the way back to the VB5 and classic .asp days.</p>
                <p>Like any software engineer, I've had to maintain and enhance various other technologies along the way, so I've picked up quite a few non-Microsoft technologies such as: Linux, MySQL/MariaDB, Oracle, Crystal Reports, etc. As you can see on my
                    <a href="/#/resume">resume</a>, I've worked at a Fortune 100 company, a small startup, and everything in between. I'm comfortable with front-end work (Taking a PDF and making it into working HTML, reporting), back-end work (ASP.NET, PHP), and database work (Microsoft SQL, MySQL/Maria, Oracle).</p>
                <p>I'm very happily married and have two young sons. My hobbies include tinkering and experimenting with new technologies & open source projects, video games, and soccer. Unfortunately, I have very little time for (or interest in) blogging and social media, so if you'd like to know more about me just
                    <a href="/contact">Contact Me</a>
                    using the menu above or via
                    <a target="_blank" href="https://www.linkedin.com/in/scottrfrost">LinkedIn
                        <i class="fa fa-linkedin"></i>
                    </a>.</p>
            </div>
        </div>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">About This Website</h3>
            </div>
            <div class="panel-body">
                <p>
                    <strong>Front End Technologies:</strong>
                    HTML5, Responsive CSS3 (try resizing your browser width), AngularJS, Bootstrap, and Javascript. It's hosted on GitHub Pages, and there are no back-end technologies used (such as ASP.NET or PHP).
                </p>
                <p>
                    <strong>Back End Technologies:</strong>
                    Hosted on GitHub Pages and referencing a few APIS, but there are no back-end technologies used (such as ASP.NET, Python, or PHP).
                </p>
                <p>
                    <strong>Trust, but verify:</strong>
                    <a target="_blank" href="http://html5.validator.nu/?doc=http%3A%2F%2Fscottrfrost.github.io">Valid HTML5
                        <i class="fa fa-html5"></i>
                    </a>
                    &middot;
                    <a target="_blank" href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fscottrfrost.github.io%2Fassets%2Fapp.css">Valid CSS3
                        <i class="fa fa-css3"></i>
                    </a>
                    &middot;
                    <a target="_blank" href="https://github.com/ScottRFrost/scottrfrost.github.io">I'm still not convinced, show me the source code.</a>
                </p>
            </div>
        </div>
    </div>
</div>