<div layout="column" layout-gt-md="row" layout-margin>
    <div flex="40" layout="column">
        <md-whiteframe class="md-whiteframe-z1">
            <md-toolbar class="md-default-theme">
                <h2 class="md-toolbar-tools">
                    Scott & Jaime Frost
                </h2>
            </md-toolbar>
            <md-content class="md-padding text-center">
                <img src="/images/scottandjaime.jpg" class="img-responsive center" alt="Scott & Jaime Frost">
            </md-content>
        </md-whiteframe>
    </div>
    <div flex layout="column">
        <md-whiteframe class="md-whiteframe-z1">
            <md-toolbar class="md-default-theme">
                <h2 class="md-toolbar-tools">
                    About Me
                </h2>
            </md-toolbar>
            <md-content class="md-padding">
                <p>My name is Scott Frost and I've been a software engineer since the late 90s. I've lived in the Cincinnati all my life and attended Northern Kentucky University where I received a Bachelor's Degree in Management Information Systems with minors in Computer Science & Business Administration. I've been working in Microsoft-track development since well before .NET, all the way back to the VB5 and classic .asp days.</p>
                <p>
                    Like any software engineer, I've had to maintain and enhance various other technologies along the way, so I've picked up quite a few non-Microsoft technologies such as: Linux, MySQL/MariaDB, Oracle, Crystal Reports, etc. As you can see on my
                    <a href="/#/Resume">resume</a>, I've worked at a Fortune 100 company, a small startup, and everything in between. I'm comfortable with front-end work (Taking a PDF and making it into working HTML, reporting), back-end work (ASP.NET, PHP), and database work (Microsoft SQL, MySQL/Maria, Oracle).
                </p>
                <p>
                    I'm very happily married and have two young sons. My hobbies include tinkering and experimenting with new technologies & open source projects, video games, and soccer. Unfortunately, I have very little time for (or interest in) blogging and social media, so if you'd like to know more about me just
                    <a href="/#/Contact/Professional">Contact Me</a>
                    using the menu above or via
                    <a target="_blank" href="https://www.linkedin.com/in/scottrfrost">
                        LinkedIn
                        <i class="fa fa-linkedin"></i>
                    </a>.
                </p>
                <p>
                    <strong>Technologies used on this site:</strong>
                    HTML5, Responsive CSS3 (try resizing your browser width), AngularJS, and Javascript.  It's hosted on GitHub pages.
                </p>
                <p>
                    <strong>Trust, but verify:</strong>
                    <a target="_blank" href="https://github.com/ScottRFrost/scottrfrost.github.io">View the source code on GitHub.</a>
                </p>
            </md-content>
        </md-whiteframe>
    </div>
</div>
