<div class="pad10">
    <h1>
        Apps / Technology stack
    </h1>
    <h4>
        Key: <span class="green">Free Open Source Software (FOSS)</span> &#183; <span class="orange">Zero cost (including business use) closed source software</span> &#183; <span class="red">Commercial Software (even if free for private use)</span>
    </h4>
    For ease of installation, I have also included the <a target="_blank" class="green" href="https://chocolatey.org/">Chocolatey</a> command line for installing each app, where available (and the package seemed up to date).  To install Chocolatey, hold down the window flag key and press X, choose Command Prompt (Admin), then enter this command:<br />
    <span class="choco">
        @powershell -NoProfile -ExecutionPolicy Bypass -Command "iex ((new-object net.webclient).DownloadString('https://chocolatey.org/install.ps1'))" && SET PATH=%PATH%;%ALLUSERSPROFILE%\chocolatey\bin
    </span>

    <h2>
        Internet / Networking
    </h2>
    <h3>
        Web Browser - <a target="_blank" class="green" href="https://www.mozilla.org/en-US/firefox/developer/">Firefox (developer edition)</a>
    </h3>
    <p>
        This was one of the easiest decisions on the list.  Your web browser is the most important piece of software on your computer, and it's just too important to trust to closed source software.
    </p>
    <p>
        Of course as a web developer, I need to test on lots of browsers.
        <a target="_blank" class="green" href="http://chromium.woolyss.com/">Chromium</a> doesn't have all the privacy problems of full Google Chrome but the extensions aren't nearly on par with Firefox and it can't play H.264 video. I use it for apps & sites that require Chrome.
        <a target="_blank" class="orange" href="http://www.opera.com/">Opera</a> is decent, but is closed source and has comparatively few extensions.
        If you're considering installing Google Chrome (or even using sign in and sync in Chromium), search the web for 'Edward Snowden NSA Google' or wikipedia for 'PRISM (surveillance program)' first.
    </p>

    <h3>
        Web Browser Extensions - Multiple Recommendations
    </h3>
    <p>
        Extensions are critical to any great web browsing experience. I use the following:
        <ul>
            <li>
                <a target="_blank" class="green" href="https://addons.mozilla.org/en-US/firefox/addon/bartab-plus/">
                    BarTab Plus
                </a> unloads tabs after a specified time (configure it in the extension settings after installing it). This is great for keeping memory / cpu usage in check with dozens of tabs open.
            </li>
            <li>
                <a target="_blank" class="green" href="https://disconnect.me/search">
                    Disconnect Search
                </a> is a web-based proxy service that allows you to search Google, Bing, and Yahoo without being tracked. Great for when DuckDuckGo isn't finding what you wanted.
            </li>
            <li>
                <a target="_blank" class="green" href="http://www.downthemall.net/">
                    DownThemAll
                </a> is the most intuitive download manager I've used. It can break large downloads into several threads (for speed) as well as download all images / links / etc on a page without having to click each.
            </li>
            <li>
                <a target="_blank" class="green" href="http://www.telerik.com/fiddler">
                    Fiddler
                </a> allows you to inspect requests and response of everything your browsers are doing (including HTTPS traffic). Must have for devs.  Note that this is also a windows thick client app, not just a browser extension.
            </li>
            <li>
                <a target="_blank" class="green" href="http://fireftp.net/">
                    FireFTP
                </a> integrates a complete FTP / SFTP (SSH) / FTPS (FTP with SSL) client into Firefox. Using this, I found I no longer needed WinSCP or Filezilla.
            </li>
            <li>
                <a target="_blank" class="green" href="https://getfoxyproxy.org/">
                    FoxyProxy
                </a> is a handy extension that lets you automatically switch proxies based on URL patterns.
            </li>
            <li>
                <a target="_blank" class="green" href="http://www.greasespot.net/">
                    GreaseMonky
                </a> allows the user to inject custom javascript (called userscripts) into a page. You can use this to add all kinds of functionality to your favorite sites.
            </li>
            <li>
                <a target="_blank" class="green" href="https://www.eff.org/https-everywhere">
                    HTTPS everywhere
                </a> ensure that you always use HTTPS instead of HTTP on sites that support it.
            </li>
            <li>
                <a target="_blank" class="green" href="http://tiny.cc/Imagus">
                    Imagus
                </a> provides simple mouse-hover zooming (in addition to quick download / etc shortcuts) to most common sites. A must for reddit / etc.
            </li>
            <li>
                <a target="_blank" class="green" href="https://addons.mozilla.org/en-US/firefox/addon/noise/">
                    Noise
                </a> allows you to assign system noises to events. Set a sound to "Alert notificationbox" then turn on new mail notifications in your gmail settings. No more need for a separate gmail checker extension.
            </li>
            <li>
                <a target="_blank" class="green" href="https://userstyles.org/">
                    Stylish
                </a> allows the user to inject custom CSS (called userstyles) into Firefox. Think of every site you visit as having selectable themes now.
            </li>
            <li>
                <a target="_blank" class="green" href="https://addons.mozilla.org/en-US/firefox/addon/tab-groups-panorama/">
                    Tab Groups (Panorama)
                </a> was a built-in feature that was removed and brought back (and improved upon) as an extension.  It allows you to group your tabs and switch between groups easily.
                I have work / personal / reference / etc groups that I switch between.
                Combo'd with BarTab Plus, it's an amazingly quick and powerful way to manage all the sites you commonly visit without killing your RAM / CPU.
            </li>
            <li>
                <a target="_blank" class="green" href="https://github.com/gorhill/uBlock">
                    uBlock Origin
                </a> is the best ad / social spam / malware blocker. After install, go into 3rd-party filters and check everything in ads, privacy, malware domains, and social for a clean & fast browsing experience.
            </li>
            <li>
                <a target="_blank" class="green" href="https://www.downloadhelper.net/">
                    Video Download Helper
                </a> 1 click download for embedded videos on YouTube and hundreds of other sites.
            </li>
        </ul>
    </p>

    <h3>
        Instant Messaging - <a target="_blank" class="green" href="https://telegram.org/">Telegram</a> <span class="choco">choco install telegram</span>
    </h3>
    <p>
        Instant messaging should be secure, private, portable / cross-platform, and free.
        After trying several, my friends and I have settled Telegram. It works on Windows / Mac / Linux / Web / Android / iOS, it's private (private chats are fully end-to-end encrypted), and it's secure.
        If you need to connect to an older IM network for compatibility with friends / familiy / coworkers, consider <a target="_blank" class="green" href="https://pidgin.im/">Pidgin</a>, but keep in mind that those services are probably not private OR secure because the servers and companies providing them are not.
        There is a <a target="_blank" class="green" href="https://github.com/majn/telegram-purple#readme">Pidgin plugin for Telegram</a> with some <a target="_blank" class="green" href="http://eion.robbmob.com/telegram/?C=M;O=D">unofficial Windows builds</a> as well.
    </p>

    <h3>
        Voice Chat - <a target="_blank" class="green" href="http://mumble.info/">Mumble</a> <span class="choco">choco install mumble</span>
    </h3>
    <p>
        Like instant messaging above, I believe that voice chat should also be secure, private, portable / cross-platform, and free.
        Unfortunately there are no publically-hosted services out there offering voice that I found to fit my needs.
        I ended up setting up a Mumble server that my friends and I use for voice chat while gaming.
        The latest version uses TLS 1.2 and the latest cipher suites to keep your communication secure, even if you're just talking about pwning nubes.
        You shouldn't have to be discussing something sensitive to have the expectation of privacy, right?
        If you're considering Skype, search the web for 'skype resolver' first.
        There are dozens of services out there that let you resolve a skype username to that user's real IP address, and even sell you 1 click DDOSing of that IP!
    </p>

    <h3>
        Desktop Sharing /  Web Meetings - <a target="_blank" class="orange" href="https://join.me/">join.me</a>
    </h3>
    <p>
        Desktop sharing shouldn't require participants to download software before they can join.
        Unfortunately there are no publically-hosted FOSS desktop sharing services out there that don't require a client install. join.me works well and is lightweight.
        <a target="_blank" class="red" href="https://www.teamviewer.com/en/index.aspx">TeamViewer</a> and
        <a target="_blank" class="red" href="http://www.gotomeeting.com/">GoToMeeting</a> are very popular (and rightly so, they're quite nice), but being non-free for commercial use kind of kills it for me.
    </p>

    <h3>
        File Transfer - Plain old Remote Desktop Client (built into Windows) or <a target="_blank" class="green" href="http://fireftp.net/">Firefox + FireFTP</a>
    </h3>
    <p>
        I quit using FTP / FTPS to transfer files to my windows server yeeeeears ago. Open a RDP session, copy from local machine, paste in remote window works great and is encrypted!
        If you're going to a Linux or Mac host, FireFTP will get you there.
        If you're using a Linux HOST, you can also install xrdp to get an RDP wrapper for VNC (file transfers still work) and not need a VNC client on your local machine.
        If you're using Linux as your CLIENT OS for some reason, I feel bad for you son.
    </p>

    <h3>
        P2P / File Sharing - <a target="_blank" class="green" href="http://www.qbittorrent.org/">qBittorrrent</a> <span class="choco">choco install qbittorrent</span>
    </h3>
    <p>
        IMPORTANT - I don't condone piracy of software, music or movies. There are hundreds of legitimate use cases for p2p file sharing. BitTorrent is the current king of p2p applications, but their official clients are terrible.
        I've been favoring qBittorrent or <a target=" _blank" class="green" href="http://deluge-torrent.org/">Deluge</a> <span class="choco">choco install deluge</span> since uTorrent started adding unacceptable bloat and malware.
    </p>

    <h3>
        Photo Sharing - <a target="_blank" class="orange" href="https://photos.google.com/">Google Photos</a>
    </h3>
    <p>
        A large improvement from Picasa web and Google+ photos, Google Photos is my favorite way to share photos.
        Simple edits and sharing (both as regular web links and easy posting to Twitter), along with Google Drive integration make this one obvious.
        It's a shame that <a target="_blank" class="orange" href="https://www.amazon.com/clouddrive/primephotos">Amazon Prime Photos</a> has no way to share albums or folders, because I like the unlimited storage option there.
    </p>

    <h3>
        Private web browsing / filter avoidance - <a target="_blank" class="green" href="http://www.9bis.net/kitty/">KiTTY (a fork of PuTTY) client</a> with <a target="_blank" class="green" href="https://cygwin.com/">Cygwin OpenSSHd server</a> <span class="choco">choco install mls-software-openssh</span>
    </h3>
    <p>
        A SSH server sitting on some decent upstream bandwidth combined with FoxyProxy makes for a pretty simple private browsing / filter avoidance system.
        If your server is Linux, it probably already has SSH server.
        Follow the <a target="_blank" href="https://docs.oracle.com/cd/E24628_01/install.121/e22624/preinstall_req_cygwin_ssh.htm#EMBSC152">instructions here</a> to set up Cygwin OpenSSH if your server (or your home machine) runs Windows.
        In KiTTY settings under SSH > Tunnels create a DYNAMIC local port tunnel and connect.  In FoxyProxy, create a new SOCKS proxy that points at the local port and whitelist whatever sites you'd like to go over the proxy.
        In firefox about:config set extensions.foxyproxy.socks_remote_dns to true. Make sure it works by going to one of the many "what's my IP address" websites.
        It should show you server's IP address, not your regular external IP address that's shown in other browsers or with FoxyProxy disabled.
    </p>


    <h2>
        Multimedia
    </h2>
    <h3>
        Image Viewer / Comic Viewer - <a target="_blank" class="orange" href="http://www.bandisoft.com/honeyview/">Honeyview</a> <span class="choco">choco install honeyview</span>
    </h3>
    <p>
        While there are many FOSS image viewers out there, very few of them look native / non-crappy in windows and are customizable.
        Honeyview is great in these regards and has the added benefit of supporting .cbz / .cbz (zips or rars filled with images) which is the most popular format for comics.
    </p>

    <h3>
        Image Editor / LOLcat maker - <a target="_blank" class="orange" href="http://www.getpaint.net/index.html/">Paint.NET</a>
    </h3>
    <p>
        Paint.NET is a deceptively good image editor.  At $0 cost and only 6MB, you wouldn't think it could compete with Photoshop, but it does (at least for my needs).
        It's extremely fast and does a great job for editng & retouching most things that I've run in to as a developer.
        You have to spend some time loading it up with <a target="_blank" class="orange" href="http://forums.getpaint.net/index.php?/topic/32048-boltbaits-plugin-pack-for-pdn-v406-updated-august-9-2015/">plugins</a>, but after you do it opens
        <a target="_blank" class="green" href="https://psdplugin.codeplex.com/">Photoshop PSDs</a>,
        and <a target="_blank" class="orange" href="http://forums.getpaint.net/index.php?/topic/31998-raw-filetype-2015-09-09/">camera RAW</a> files,
        saves <a target="_blank" class="green" href="http://forums.getpaint.net/index.php?/topic/22841-new-optipng-file-type-plugin-june-12-2012/">optimized PNGs</a> for web use,
        and even <a target="_blank" class="green" href="https://psfilterpdn.codeplex.com/">uses Photoshop filters</a>.
    </p>

    <h3>
        Video Player - Simple <a target="_blank" class="green" href="https://www.videolan.org/vlc/">VLC Media Player</a> <span class="choco">choco install vlc</span> or Advanced <a target="_blank" class="green" href="http://forum.doom9.org/showthread.php?t=165890">MPC-BE</a> <span class="choco">choco install mpc-be</span>
    </h3>
    <p>
        VLC provides ultimate compatibility with a light and simple to use interface that will play anything you throw at it, the first time, without having to install messy codec packs.<br />
        MPC-BE is a more feature-rich player, particularly when combined with <a target="_blank" class="green" href="http://www.madvr.com/">madVR</a> (unzip and run install.bat as admin, then pick madVR as video renderer in MPC-BE video options) for maximum quality rendering.
    </p>
    <h3>
        Video Conversion with DVD & Blu-Ray Ripping - <a target="_blank" class="green" href="http://vidcoder.net/">VidCoder</a> <span class="choco">choco install vidcoder</span> with <a target="_blank" class="orange" href="http://www.videohelp.com/software/DVDFab-Passkey">DVD Fab Passkey Lite</a>
    </h3>
    <p>
        VidCoder provides a more simplified interface to <a target="_blank" class="green" href="http://handbrake.fr/">HandBrake</a> <span class="choco">choco install handbrake</span> to allow conversion of nearly every format to MP4 or MKV.
        Combined with DVD Fab Passkey Lite, which allows software to access copy-protected DVDs and Blu-Rays on-the-fly, you can copy your DVDs and Blu-Rays to your various devices.
    </p>

    <h2>
        Productivity / Tools
    </h2>
    <h3>
        Office Suite - <a target="_blank" class="orange" href="https://drive.google.com/">Google Drive / Docs / Sheets / Slides</a>
    </h3>
    <p>
        I'm not really happy with being plugged into this ecosystem after the leaks about Google's involvement in PRISM / etc, but Google Drive (and it's apps like Docs and Sheets) work great.
        I didn't install MS Office after reloading my machine in early 2012 just for fun and to see if I could live without it. Turns out that it was no problem.
        <a target="_blank" class="orange" href="https://dropbox.com/">DropBox</a> with their Office Online integration is pretty nice too, but is similarly closed / can't run your own server.
        If you need to do a lot of offline editing, check out <a target=" _blank" class="green" href="https://www.libreoffice.org/download/libreoffice-fresh/">LibreOffice</a>,
        but I believe that desktop / thick client installs for editing documents & spreadsheets days are over at this point.
    </p>

    <h3>
        PDF - Viewer - Firefox built-in viewer, Printer - <a target="_blank" class="orange" href="http://www.bullzip.com/products/pdf/download.php">PDFCreator</a> <span class="choco">choco install pdfcreator</span>
    </h3>
    <p>
        The PDF viewers built into Firefox and Chromium have really come a long way. I don't feel a need for a separate reader app anymore.
        For printing, there are TONS of options out there, but I found pdfcreator fit my needs the best.
        It allows printing to a variety of formats other than PDF and rather intelligently just pops me right into the file path to name my file when I print.
        The profiles make everything quick and simple.
        Note that they had some malware bundling issues a while back, but the chocolatey package has always been clean.
    </p>

    <h3>
        Text Editor / Compare Files / Search For Text in Multiple Files - <a target="_blank" class="green" href="https://notepad-plus-plus.org/">NotePad++</a> <span class="choco">choco install notepadplusplus</span>
    </h3>
    <p>
        This quick and light text editor has been my go-to for years.  It's very fast and stable, even for large files.
        If you want a little more power, it's also quite extensible via plugins and has advanced features such as recording macros, syntax folding, document mapping, and even auto complete.
        For quick and dirty C# edits, make sure you grab the <a target="_blank" class="green" href="http://csscript.net/npp/">CS-Script</a> plugin, which provides C# intellisene like Visual Studio and
        <a target="_blank" class="green" href="http://sourceforge.net/projects/npp-compare/">Compare</a> which provides WinMerge style left/right file comparison..
    </p>

    <h3>
        Drive / Partition Encryption - <a target="_blank" class="green" href="https://veracrypt.codeplex.com/">VeraCrypt</a> <span class="choco">choco install veracrypt</span>
    </h3>
    <p>
        VeraCrypt creates an encrypted file or can encrypt an entire partition.
        This file or partition is encrypted with a password, preventing the drive from being mounted by anyone who doesn't know the password.
        Once mounted, the file or partition becomes available as a drive letter in Windows and you can use it as you would a removable USB drive.
        For performance, I generally leave my system drive unencrypted.  After I start up Windows, I mount my veracrypt drive where my application data is stored, and then run my apps.
    </p>

    <h3>
        File Compression / Encryption - <a target="_blank" class="green" href="http://www.7-zip.org/">7-Zip</a> <span class="choco">choco install 7zip</span>
    </h3>
    <p>
        7-Zip is a powerful, but very simple to use compression app.
        In addition to the popular .zip format (and many others), it can also create .7z files which have an order of magnitude better compression.
        AES-256 encryption can be applied to the files it creates as well, providing you with a password protected file that's also compressed.
        I recommend that you send these rather than using built-in password protection on Word / Excel / PDF / etc document format.
    </p>

    <h3>
        File Sync Between Computers - <a target="_blank" class="green" href="https://github.com/canton7/SyncTrayzor">SyncTrayzor (which implements Syncthing)</a> <span class="choco">choco install synctrayzor</span>
    </h3>
    <p>
        If you're using file lockers such as Google Drive and Drop Box to sync arbitrary files between your computers, you should consider if you REALLY want that data in the cloud.
        As long as you have files synced to computers in different physical locations (home / work / school / data center), there is no chance in losing your data to fire / etc.
        After evaluating many options, I choose SyncTrayzor / Syncthing because it was FOSS, reliable, and fast.  It's also pretty light on system resources.  It's also an open standard, and there are compatible clients for Android, Linux, OS X, etc.
    </p>

    <h2>
        Development Tools
    </h2>
    <h3>
        Integrated Development Environment - <a target="_blank" class="red" href="https://www.visualstudio.com">Microsoft Visual Studio <span class="choco">choco install visualstudio2015community</span> <span class="orange">(Free Community Edition if your company is < 251 employees, < 6 developers, and < $1MM in annual revenue)</span></a>
    </h3>
    <p>
        Visual Studio is simply amazing.  I've tried Eclipse, NetBeans, and some others, but they all pale in comparison.  Individuals and most smaller companies can use the Community version completely free.
        If you have lighter needs, specifically if you ONLY develop web apps, check out <a target="_blank" class="orange" href="https://code.visualstudio.com/">Visual Studio Code</a>,
        <a target="_blank" class="green" href="http://brackets.io/">Adobe Brackets</a>, or Github's <a target="_blank" class="green" href="https://atom.io/">Atom</a>.
        All 3 of these are nice programs, but are more along the lines of text editors than full IDEs, but they work great for what they are.
        After you install Visual Studio, you can fire up <a target="_blank" class="green" href="https://github.com/tsasioglu/Total-Uninstaller">Total Uninstaller</a> and remove bloat like Advertising, Windows Phone, and Azure SDKs.
    </p>
</div>