<div data-ng-show="type === 'Select'">
    <div layout="row" layout-gt-md="row" layout-margin>
        <div flex layout="column">
            <md-whiteframe class="md-whiteframe-z1">
                <md-toolbar class="md-default-theme">
                    <h2 class="md-toolbar-tools">
                        I'd love to hear from you!  But first, what kind of contact is this?
                    </h2>
                </md-toolbar>
                <md-content class="md-padding text-center">
                    <md-button ng-click="$location.path('/Contact/Employment')" aria-label="Employment">
                        Employment Opportunity
                    </md-button>
                    <md-button ng-click="$location.path('/Contact/SideWork')" aria-label="Side Work">
                        Evening / Weekend Side Work
                    </md-button>
                    <md-button ng-click="$location.path('/Contact/Reference')" aria-label="Reference">
                        Professional Reference
                    </md-button>
                    <md-button ng-click="$location.path('/Contact/Networking')" aria-label="Networking">
                        Networking / You're a Recruiter
                    </md-button>
                    <md-button ng-click="$location.path('/Contact/Professional')" aria-label="Professional">
                        Other Professional Query
                    </md-button>
                    <md-button ng-click="$location.path('/Contact/Personal')" aria-label="Personal">
                        Personal Query
                    </md-button>
                </md-content>
            </md-whiteframe>
        </div>
    </div>
</div>

<div data-ng-show="type === 'Employment'">
    <div layout="row" layout-gt-md="row" layout-margin>
        <div flex layout="column">
            <md-whiteframe class="md-whiteframe-z1">
                <md-toolbar class="md-default-theme">
                    <h2 class="md-toolbar-tools">
                        You have a job opportunity for me?
                    </h2>
                </md-toolbar>
                <md-content class="md-padding text-center">
                    <p>
                        That's great, I'd love to hear about it!
                    </p>

                    However, I'm <strong>NOT</strong> currently interested in the following:<br/>
                        Positions outside of the Cincinnati, OH area, unless they're 100% telecommute<br />
                        Positions requiring more than 20% travel<br />
                        PHP/WordPress, SharePoint, or Java positions<br />
                </md-content>
            </md-whiteframe>
        </div>
    </div>
</div>


<div data-ng-show="type === 'SideWork'">
    <div layout="row" layout-gt-md="row" layout-margin>
        <div flex layout="column">
            <md-whiteframe class="md-whiteframe-z1">
                <md-toolbar class="md-default-theme">
                    <h2 class="md-toolbar-tools">
                        You have some side work for me?
                    </h2>
                </md-toolbar>
                <md-content class="md-padding text-center">
                    <p>
                        That's great, I'm usually accepting side work!
                    </p>

                    I don't mind working evenings and weekends for a little extra money. Keep in mind that I do have a wife and kids at home so I probably am not the best choice if you need a commitment of more than 20 hours a week.
                </md-content>
            </md-whiteframe>
        </div>
    </div>
</div>


<div data-ng-show="type === 'Reference'">
    <div layout="row" layout-gt-md="row" layout-margin>
        <div flex layout="column">
            <md-whiteframe class="md-whiteframe-z1">
                <md-toolbar class="md-default-theme">
                    <h2 class="md-toolbar-tools">
                        You'd like a reference for someone that I've worked with?
                    </h2>
                </md-toolbar>
                <md-content class="md-padding text-center">
                    <p>
                        I'd be happy to give you an honest assessment of anyone that I've worked with in the past, so feel free to ask.
                    </p>
                </md-content>
            </md-whiteframe>
        </div>
    </div>
</div>


<div data-ng-show="type === 'Networking'">
    <div layout="row" layout-gt-md="row" layout-margin>
        <div flex layout="column">
            <md-whiteframe class="md-whiteframe-z1">
                <md-toolbar class="md-default-theme">
                    <h2 class="md-toolbar-tools">
                        You'd like to network with me?
                    </h2>
                </md-toolbar>
                <md-content class="md-padding text-center">
                    <p>
                        Your best bet is <a target="_blank" href="https://www.linkedin.com/in/scottrfrost">Linked In</a>, but I'd be happy to talk with you over email as well.
                    </p>
                </md-content>
            </md-whiteframe>
        </div>
    </div>
</div>


<div data-ng-show="type === 'Professional'">
    <div layout="row" layout-gt-md="row" layout-margin>
        <div flex layout="column">
            <md-whiteframe class="md-whiteframe-z1">
                <md-toolbar class="md-default-theme">
                    <h2 class="md-toolbar-tools">
                        You have a professional query that I haven't covered?
                    </h2>
                </md-toolbar>
                <md-content class="md-padding text-center">
                    <p>
                        Please provide some details below.
                    </p>
                </md-content>
            </md-whiteframe>
        </div>
    </div>
</div>


<div data-ng-show="type === 'Personal'">
    <div layout="row" layout-gt-md="row" layout-margin>
        <div flex layout="column">
            <md-whiteframe class="md-whiteframe-z1">
                <md-toolbar class="md-default-theme">
                    <h2 class="md-toolbar-tools">
                        You have a personal question for me?
                    </h2>
                </md-toolbar>
                <md-content class="md-padding text-center">
                    <p>
                        Please provide some details below.
                    </p>
                </md-content>
            </md-whiteframe>
        </div>
    </div>
</div>


<div data-ng-show="type === 'Sent'">
    <div layout="row" layout-gt-md="row" layout-margin>
        <div flex layout="column">
            <md-whiteframe class="md-whiteframe-z1">
                <md-toolbar class="md-default-theme">
                    <h2 class="md-toolbar-tools">
                        Your email has been sent!
                    </h2>
                </md-toolbar>
                <md-content class="md-padding text-center">
                    <p>
                        Thank you!
                    </p>
                    I'll get back to you as soon as I can.
                </md-content>
            </md-whiteframe>
        </div>
    </div>
</div>


<div data-ng-hide="type === 'Sent' || type === 'Select'">
    <div layout="row" layout-gt-md="row" layout-margin>
        <div flex layout="column">
            <md-whiteframe class="md-whiteframe-z1">
                <md-toolbar class="md-default-theme">
                    <h2 class="md-toolbar-tools">
                        Please fill out this form to email me
                    </h2>
                </md-toolbar>
                <md-content class="md-padding text-center">
                    <form class="form-horizontal" action="http://getsimpleform.com/messages?form_api_token=ebe642ebe4fa7bf5c37f82f81f080f62" method="post">
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Name</label>
                                <input type="text" name="name" id="name" class="form-control">
                            </md-input-container>

                            <md-input-container flex>
                                <label>Organization</label>
                                <input type="text" name="organization" id="organization" class="form-control">
                            </md-input-container>

                            <md-input-container flex>
                                <label>Email Address</label>
                                <input type="text" name="emailAddress" id="emailAddress" class="form-control">
                            </md-input-container>

                            <md-input-container flex>
                                <label>What is four times ten, plus two?</label>
                                <input type="text" id="humanTest" data-ng-model="humanTest">
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>What would you like to tell me? Provide as much detail as possible.</label>
                                <textarea name="emailBody" id="emailBody" rows="5" class="form-control"></textarea>
                            </md-input-container>
                        </div>
                        <div class="text-center">
                            <div>Does this require a reply?</div>
                            <input name="pleaseReply" id="pleaseReply" type="checkbox" checked="checked" value="yes" class="form-control">Yes, please reply<br/>
                            <button type="submit" data-ng-hide="humanTest != 4 * 10 + 2">Send Email</button>
                        </div>
                        <input type="hidden" name="redirect_to" value="http://scottrfrost.github.io/#/Contact/Sent" />
                    </form>
                </md-content>
            </md-whiteframe>
        </div>
    </div>
</div>