<div class="jumbotron">
    <h1>Welcome to ScottRFrost.github.io!</h1>
    <p>
        Hello! My name is Scott R. Frost, and I'm a software engineer specializing in web, windows and mobile development on the Microsoft technology stack (.NET, IIS, SQL Server). I live with my wife and two sons in scenic Cincinnati, Ohio.
    </p>
    <p>Please select an option from the top menu to learn more about me, view my resume, or check out my various contributions around the web.</p>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="panel panel-danger">
            <div class="panel-heading">Latest YouTube Videos</div>
            <div class="panel-body" id="youtube">
                ---
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">Latest Google+ Photos</div>
            <div class="panel-body" id="photos">
                ---
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">Latest GitHub Personal Wiki</div>
            <div class="panel-body" id="wiki">
                ---
            </div>
        </div>
    </div>
</div>