<a target="_blank" href="https://docs.google.com/document/d/1USTZcyupWtfRdSTunRJPAaQdhw4aJBXUxIl0poeYkYg/edit?usp=sharing">
    <i class="fa fa-eye"></i>
    View and
    <i class="fa fa-download"></i>
    Download (File -> Download As) my resume on Google Drive</a>

<h1>
    Scott R. Frost
</h1>
<h2>
    ASP.NET, VB.NET, C#, MS SQL Developer with BS in IFS
</h2>
<h3>
    PROFESSIONAL SUMMARY
</h3>
<p>
    Dedicated .NET software developer with experience in software architecture, business analysis such as requirements gathering& analysis, and team lead roles. Focused on the current-generation Microsoft technologies including cutting-edge HTML5 development using AngularJS with ASP.NET Web API& MVC4 in both the C# and VB.NET languages. Extensive back-end SQL experience in both Microsoft SQL Server and Oracle, including designing and writing stored procedures, Microsoft SQL Server Reporting Services, and Crystal Reports. Experienced in front-end development work, including taking a design from Photoshop file to fully built-out and working site with valid HTML5& CSS3, as well as javascript work in AngularJS, JQuery and JQuery UI.
</p>
<h3>
    SKILLS
</h3>
<p>
    <strong>Focused (8+ years):</strong>ASP.NET, VB.NET, MS SQL, SSRS, Software Architecture, DB Design, HTML, CSS
</p>
<p>
    <strong>Experienced (5+ years):</strong>C#, JQuery, JQueryUI, Javascript, Oracle, MySQL, Crystal Reports
</p>
<p>
    <strong>Proficient (2+ years):</strong>AngularJS, PHP, Perl, Linux, ASP.NET MVC, Powershell, SSIS
</p>
<h3>
    EDUCATION
</h3>
<h4>
    12/2001
    <a target="_blank" href="http://www.nku.edu">Northern Kentucky University</a>
    Highland Heights, KY
</h4>
<p>
    Bachelor's Degree, Management Information Systems
</p>
<p>
    Minors in Comp Sci and Business Admin with a Mathematics area of concentration.
</p>
<p>
    Development course work included several programming courses in VB, Web Development in HTML, CSS and ASP, Javascript, Powerbuilder, C, and C++. Non-programming business courses included systems analysis, management, finance, economics, public speaking, and group case studies.
</p>
<h3>
    EXPERIENCE
</h3>
<h4>
    12/2012 - PRESENT
    <a target="_blank" href="http://cbts.cinbell.com">CBTS (A Cincinnati Bell Company)</a>
    Cincinnati, OH Software Engineer (contract / consultant)
</h4>
<p>
    Working at a large downtown client as a consultant as well as internal CBTS development. Developing, testing, and implementing a redesign / modernization of their existing task managment systems using ASP.NET, C#, MS SQL, HTML5, AngularJS, JQuery, and JQuery UI.
</p>
<h4>
    06/2012 - 12/2012
    <a target="_blank" href="http://cohesion.com">Cohesion</a>
    Cincinnati, OH Software Engineer (contract / consultant)
</h4>
<p>
    Worked with a northern Kentucky client on new& existing .NET development projects. Developed, tested, and implemented using ASP.NET, C#, MS SQL, Oracle, HTML5, JQuery, and JQuery UI.
</p>
<h4>
    09/2010 - 06/2012
    <a target="_blank" href="http://simplevms.com">SimpleVMS</a>
    Cincinnati, OH Development Team Lead (project)
</h4>
<p>
    Responsible for the design and architecture of the company&rsquo;s core software offering. Worked with clients, vendors, and internal company employees to prioritize requests and translate them to actionable requirements for myself and the rest of the team. Developed, tested, and implemented using ASP.NET, VB.NET, MS SQL, SQL Server Reporting Services, HTML5, JQuery, and JQuery UI.
</p>
<p>
    Lead a team of as many as 3 consultants including task assignment, code review, and integrating submitted changes with staging and production systems. Key accomplishment: architecting, developing, deploying, and supporting a large SaaS project throughout the entire software development lifecycle.
</p>
<h4>
    01/2009 - 09/2010
    <a target="_blank" href="http://isoc.net">ISOCNET</a>
    Crestview Hills, KY Lead Developer (permanent)
</h4>
<p>
    Development lead of a team consisting of 4 developers, a Business Analyst, and 2 part-time testers. Custom ASP, ASP.NET (C# and VB.NET), and PHP development for a large number of varied clients. Architecture design& development of two custom CMS systems, one SQL server backed for complex sites and another backed using flat files for simple sites. Design and development of many reusable components to allow for Rapid Application Development. Key accomplishment: Drastically increase time-to-market efficiencies by developing custom CMS back-end used as a starting point for new sites vs. existing way of doing every site from the ground up.
</p>
<h4>
    09/2008 - 01/2009 FASTek Cincinnati, OH Software Engineer (permanent)
</h4>
<p>
    Custom C# and VB.NET project-basis development, mostly on the AJAX-enhanced ASP.NET platform with MS SQL Server as the back end.
</p>
<h4>
    01/2008 - 09/2008
    <a href="http://www.buckhorninc.com">Buckhorn</a>
    Milford, OH Mgr. Intranet / E-Commerce (permanent)
</h4>
<p>
    Rewrote / ported existing Lotus Notes databases to VB.NET 2008 ASP.NET applications& SharePoint portal applications. Generated& maintained MS SQL Reporting Services reports, as well as existing C# ASP.NET applications. Managed 2 direct-report employees, including assignment of tasks, project management, etc. Key accomplishment: Removing user pain-point of having to use Lotus Notes by implementing SharePoint.
</p>
<h4>
    11/2006 - 01/2008
    <a href="http://www.healthyadvicenetworks.com">Healthy Advice</a>
    Cincinnati, OH Software Engineer ( project )
</h4>
<p>
    Rewrote / ported Oracle Forms application to VB.NET 2005 Windows Forms application with Oracle 10g back end. Also rewrote custom reports and other functions for the new system. This included ASP.NET pages, writing& consuming custom XML-based web services, SQL stored procedures& triggers, batch scripts, and multiple single-purpose VB.NET console applications that run automatically on nightly timers. Key accomplishment: Successfully handled multiple concurrent goals and lead team responsible for converting data from the older system to the new system.
</p>
<h4>
    1/2005 - 11/2006
    <a target="_blank" href="http://www.ticona.com">Ticona</a>
    Florence, KY Software Engineer& Support (permanent)
</h4>
<p>
    Developed VB.NET powered applications with a global team on Windows Forms, ASP.NET and SharePoint Server. These applications used Microsoft SQL Server for the back end and included consuming data from XML web services as well as non-SQL Server sources such as Lotus Notes, comma separated files, and Microsoft Access databases. Maintained an array of MS Access applications that various users created during the history of the company. This normally included in-depth analysis& debugging of the databases (as they often had no documentation and the original author had left the company). Key accomplishment: succeeding as team lead in the global project to migrate from all existing from Access 97 to Access 2003 or SharePoint.
</p>
<h4>
    3/2001 - 1/2005
    <a target="_blank" href="http://www.audit-tel.net">Audit-Tel</a>
    Cincinnati, OH Programmer / Network Admin (permanent)
</h4>
<p>
    Developed the primary line of business application used by all of the company's employees to enter, update, report on, and audit telecommunication expenses. The first version was a VB6 application using ADO on Microsoft Access databases. The latest version is a VB.NET application on the ASP.NET platform using ADO.NET to access MS SQL Server as well as MS Access databases. These programs both implement import / export to a variety of formats as well as integrating dozens of Seagate Crystal Reports. Developed single-purpose VB programs or VB scripts to reformat, change, or update reports in flat text, Excel, or Access formats.
</p>
<p>
    Designed, implemented, and maintained the company's computer infrastructure. The company has multiple servers and over a dozen workstations. Assumed sole responsibility for migrating the company from a NT 4 domain to Windows 2000 Active Directory based domain. Troubleshot the concerns of the employees as well as training them on newly introduced software and answering related questions.
</p>